<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
.a {
  margin: 10px;
  width: 400px;
  height: 50px;
  border: 2px solid rgb(5, 5, 2);
  background-color: #af6612;
  border-radius: 5px;
}
body{
 background-color: #faac04;

  }
.submit{
  width: 200px;
  height:30px ;
  border-radius: 5px;
  border: 2px solid rgb(5, 5, 2);
  background-color: #e68210;
}
</style>
</head>
<body class="boby">
<center> <h1> ===== Student Data Transaction_functions ===</h1>
    <div class="container">
        <form >
            <div class="body">
                <h2><label  > Student Data : </label><br></h2>
                <button class="a"><a href="InsertStudent">InsertOneStudent</a></button> <br>
                <button class="a"><a href="findStudent">OneStudentField</a></button> <br>
                <button class="a">D<a href="UpdateStudent">UpdateStudent</a></button>  <br>
                <button class="a"><a href="deleteStudentGet">deleteOneStudent</a></button> <br>
                <button class="a"><a href="totalStudent">totalStudent</a></button>  <br>
                <button class="a"><a href="findAllStudent">findAllStudent</a></button> <br>
                <button class="a"><a href="findStudentDataBasedOnFieldd">findStudentDataBasedOnField</a></button> <br>
                <button class="a"><a href="deleteAllStudentRecode">deleteAllStudentRecode</a></button>
                <button class="a"><a href="findByClassAndFirstname">findByClassAndFirstname</a></button>
            </div>

        </form>
    </div></center>
</body >
</html>D:\Sc